<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .Title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS files -->
    <link href="/css/loading.css" rel="stylesheet" />
    <!-- Libs JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/loading.js"></script>

</head>

<body>
    <div id="loading">
        <div class="loading-spinner">
            <div class="spinner-border" role="status">
                <span class="sr-only">{{i18 "index" "loading"}}</span>
            </div>
        </div>
    </div>

    {{template "header" .}}

    {{template "content" .}}

    {{template "footer" .}}

    <script src="/js/rum/elastic-apm-rum.umd.min.js" crossorigin></script>
    <script>
        elasticApm.init({
            serviceName: 'admin',
            serverUrl: 'http://localhost:8200',
        })
    </script>

    {{template "notifications" .Notifications}}
</body>

</html>